<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

     <div style="margin: 15% 40%;">

       <form class="form-register" action="/register/" method="post">
                  {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                  {% endif %}
                  {% csrf_token %}
                  <div class="form-group">
                  <h3 class="text-center">欢迎注册</h3>
                    <label for="id_username">用户名：</label>
                    <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>
                  </div>
                  <div class="form-group">
                    <label for="id_password">密码：</label>
                    <input type="password" name='password1' class="form-control" id="id_password1" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                    <label for="id_password">确认密码：</label>
                    <input type="password" name='password2' class="form-control" id="id_password2" placeholder="Password" required>
                  </div>
                  <div>
                  <a href="/login/" class="text-success " ><ins>已有账号？去登录</ins></a>
                  <button type="submit" class="btn btn-primary float-right">注册</button>
                  </div>
                </form>
        
    </div>

</body>
</html>